.ProductObject {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.ProductImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
}

.ProductDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}