.NavigationItem {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: large;
    padding: 0px 20px;
    cursor: pointer;
}

.NavigationItem:hover {
    background-color: #777;
}

.NavigationItem.active {
    font-weight: bold;
}

.Icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}
