.TopPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(200, 0, 0);
    padding: 50px;
    color: black;
    align-items: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}

.TopPanel a {
    color: inherit;
    text-decoration: none;
}

.TitleContainer {
    width: 150px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Title {
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

.NavigationContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.SearchContainer {
    display: flex;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

