.TopPanel {
    background-color: rgb(200, 0, 0);
    color: black;
    height: 50px;
    width: 1;
    display: flex;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid black;
}

.TopPanel a {
    color: inherit;
    text-decoration: none;
}

.TitleContainer {
    width: 250px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Title {
    width: 100%;
    font-size: xx-large;
    text-align: left;
}

.SearchContainer {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

